@tailwind base;
@tailwind components;
@tailwind utilities;
.btn {
  @apply items-center inline-flex gap-2 py-2 px-4 rounded font-bold text-white transition duration-200 ease-in-out active:scale-95 hover:shadow-inner hover:shadow-black shadow-inner;
}

.btn-blue {
  @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700  shadow-blue-400;
}

.btn-green {
  @apply bg-green-500 hover:bg-green-600 active:bg-green-700  shadow-green-400;
}

.btn-red {
  @apply bg-red-200 hover:bg-red-300 active:bg-red-400  shadow-red-100  border border-gray-400;
}
.btn-gray {
  @apply bg-gray-500 hover:bg-gray-600 active:bg-gray-700  shadow-gray-400;
}
.btn-darkgray {
  @apply bg-gray-600 hover:bg-gray-700 active:bg-gray-800  shadow-gray-500;
}
.btn-lightgray {
  @apply bg-gray-200 hover:bg-gray-300 active:bg-gray-400  shadow-gray-50 text-black  border border-gray-400;
}
.overflow-text {
  @apply overflow-hidden whitespace-nowrap;
}
.shake {
  animation: shake 0.5s ease-in-out;
}
.gradient-text {
  background: linear-gradient(to right, black, rgb(38, 218, 218), black, rgb(38, 218, 218), black, rgb(38, 218, 218), black);
  background-size: 300% 300%;
  background-clip: text;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
